name: Deploy

on:
  push:
    branches:
      - main

env:
  DOCKER_IMAGE: ghcr.io/${{ github.actor }}/${{ secrets.SERVER_IMAGE }}
  VERSION: ${{ github.sha }}
  NAME: ${{ secrets.SERVER_IMAGE }}
  REDIS_PASSWORD: ${{ secrets.REDIS_PASSWORD }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      ## jdk setting
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'zulu' # https://github.com/actions/setup-java

      ## grable cacing
      - name: Gradle Caching
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
            
#       - name: Create redis.properties for CD Deploy
#         run: |
#           mkdir -p src/main/resources
#           cd src/main/resources
#           pwd
#           echo "${{ secrets.REDIS_PROPERTIES }}" > redis.properties
#           cat redis.properties
          
      - name: Create application.properties for CD Deploy
        run: |
          mkdir -p src/main/resources
          cd src/main/resources
          pwd
          echo "${{ secrets.APP_PROPERTIES }}" > application.properties
          cat application.properties
          
#       - name: Create application.yaml for CD Deploy
#         run: |
#           mkdir -p src/main/resources
#           pwd
#           echo "${{ secrets.APP_YML }}" > src/main/resources/application.yaml
#           cat src/main/resources/application.yaml
            
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      ## gradle build
      - name: Build with Gradle
        run: ./gradlew clean build -x test

      ## docker build & push to production
      - name: Docker build & push to prod
        run: |
            docker login ghcr.io -u ${{ github.actor }} -p ${{ secrets.GHCR_TOKEN }}
            docker buildx create --name arm64builder --use
            docker buildx build --platform linux/amd64,linux/arm64 -f Dockerfile -t ghcr.io/jeongdawun/${{ secrets.SERVER_IMAGE }}:latest --push .
            docker logout

  deploy:
    needs: build
    name: Deploy
    runs-on: [ self-hosted, deploy-happy-camper-backend ]
    steps:
      - name: Login to ghcr
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Deploy to prod
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.HOST_PROD }}
          username: ec2-user
          key: ${{ secrets.PRIVATE_KEY }}
          script_stop: true
          script: |
            pwd
            ls -al
            cd happy-camper/backend/actions-runner
            pwd
            if [[ "$(docker ps -q --filter ancestor=mysql:8.0)" ]]; then
              docker rm -f $(docker ps -qa --filter ancestor=mysql:8.0)
            fi
            echo "pass mysql-container"

            if [[ "$(docker ps -qa --filter ancestor=${{ secrets.SERVER_CONTAINER }}:latest)" ]]; then
              docker rm -f $(docker ps -qa --filter ancestor=${{ secrets.SERVER_CONTAINER }}:latest)
            fi
            echo "pass backend-deploy/${{ secrets.SERVER_CONTAINER }}:latest"
  
            docker login ghcr.io -u ${{ github.actor }} -p ${{ secrets.GHCR_TOKEN }}
            
            docker pull ghcr.io/jeongdawun/${{ secrets.SERVER_IMAGE }}:latest

            docker image prune -f
            docker logout
            docker-compose up -d
